.Rhistory
.Rprofile
.Rproj.user
inst/doc
/revdep/.cache.rds
.cacheAvailablePackages.rda
packageVersions*.txt
tests/testit/tmp.txt
tmp*
.secret/
.secrets/
.RData
.checks.RDS
packages/*
packages1/*
packages2/*
packages3/*
packages4/*
packages5/*
packages6/*
.secret
R/SpaDES/*
